<div class="d-flex justify-content-between mt-1 mb-1 p-2">
  <div>All Products</div>
  <div>
    <button class="btn btn-dark" (click)="onCreateProduct()">Create Product</button>
  </div>
</div>
<table class="table table-hover products_tab">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Tags</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products$ | async,index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{item.title}}</td>
      <td>{{item.price}}</td>
      <td>{{item.tags}}</td>
      <td>
        <span class="material-symbols-outlined" style="color:blue;cursor:pointer" (click)="onEdit(item)">
          edit_square
        </span>
        <span class="material-symbols-outlined" style="margin-left:1rem; color:red;cursor:pointer"
          (click)="onDelete(item._id)">
          delete
        </span>
      </td>
    </tr>
  </tbody>
</table>